div.imageitems
{
    display: inline;
    float: left;
    padding-left: 8px !important;
    padding-right: 8px !important;
}
a.imageitem_title
{
    height: 48px;
    float: left;
    font-size: small;
    text-decoration: none;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    overflow: hidden;
    vertical-align: middle;
    color: #333
}
a.imageitem_title:hover
{
    float: left;
    font-size: small;
    text-decoration: none;
    color: #FF9000
}
a.imageitem_author
{
    float: left;
    font-size: small;
    text-decoration: none;
    color: #333
}
a.imageitem_author:hover
{
    float: left;
    font-size: small;
    text-decoration: none;
    color: #FF9000
}
div.imageitem_popularity
{
    float: right;
    font-size: small;
    color: #333
}

div.itemview_heading
{
    padding: 0 4px 0 10px;
    border-left: 6px solid #FF9000;
    line-height: 28px;
}

div.hide_on_hover
{
    transition: bottom .2s ease,opacity .2s ease;
    -moz-transition: bottom .2s ease,opacity .2s ease;
    -webkit-transition: bottom .2s ease,opacity .2s ease;
    -o-transition: bottom .2s ease,opacity .2s ease;

    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-bottom: 8px !important;
    width: 100%;
    background: #FFF
}

.hide_on_hover_1
{
    opacity: 0;
    bottom: -12px;
}

.title_container
{
    height: 48px;
    width: 100%;
}

div.image_responsive
{
    max-width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background: #000;
    overflow: hidden;
    border-radius: 6px;
}

div.image_responsive img
{
    width: 100%;
}

img.imageitem
{
    border-radius: 6px;
    vertical-align: middle;
    max-width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}